/* Whole Body */
.stAppViewContainer.appview-container.st-emotion-cache-1yiq2ps.eht7o1d0 {
  background-color: yellow;
}

/* Header */
.stAppHeader.st-emotion-cache-12fmjuu.e4hpqof0 {
  background-color: pink;
}

/* Title Body */
.st-emotion-cache-18netey.egexzqm2 {
  background-color: green;
}

/* Title */
#simple-chat {
  background-color: red;
}

/* user input body */
.st-emotion-cache-128upt6.eht7o1d3 {
  background-color: black;
}
/* user input */
.st-emotion-cache-glsyku.e1xgt8o31 {
  background-color: aqua;
}
/* user input text */
.st-ae.st-b1.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-b5.st-b6.st-bn.st-bo.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-b8.st-b9.st-ba.st-bv.st-bc.st-bd.st-be.st-bw.st-bx.st-by.st-bz.st-c0.st-c6

/* send button body */
.st-emotion-cache-vlkg2l.e1xgt8o33 {
  background-color: blue;
}

/* send button */
.st-emotion-cache-1sqsu11.e1xgt8o32 {
  background-color: pink;
}

/* input chat body */
.stChatMessage.st-emotion-cache-1c7y2kd.ea2tk8x0 {
  background-color: cornflowerblue;
}

/* input chat logo body */
.st-emotion-cache-1ghhuty.ea2tk8x3 {
}

/* input chat logo */
.e1fexwmo1.st-emotion-cache-1b2ybts.ex0cdmw0 {
}

/* input chat text */
.st-emotion-cache-1flajlm.ea2tk8x1 {
}

/* output chat body */
.stChatMessage.st-emotion-cache-4oy321.ea2tk8x0 {
  background-color: cyan;
}

/* output chat logo body */
.st-emotion-cache-bho8sy.ea2tk8x3 {
}

/* output chat logo */
.e1fexwmo1 st-emotion-cache-1b2ybts ex0cdmw0 {
}

/* output chat text */
.st-emotion-cache-1104ytp.egexzqm0 {
}
